span.one{
    font-size: 75px;
}
span.two{
    font-size: 90px;
}
span.three{
    font-size: 100px;
}
span.four{
    font-size: 60px;
}
span.five{
    font-size: 85px;
}
span.six{
    font-size: 120px;
}
span.seven{
    font-size: 95px;
}
span.eight{
    font-size: 110px;
}
span.nine{
    font-size: 150px;
}
span.ten{
    font-size: 70px;
}